<%- include ('header'); %>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[0].nomRecette%></h5>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[1].nomRecette%></h5>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[2].nomRecette%></h5>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[3].nomRecette%></h5>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[4].nomRecette%></h5>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[5].nomRecette%></h5>>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[6].nomRecette%></h5>>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[7].nomRecette%></h5>
                        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  


<%- include ('footer'); %>