<%- include ('header'); %>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[0].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[0].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette1">Voir la recette</button>
                        
                        <div id="recette1" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[0].ingredients.length ; i++){   %>      
                                    <li><%=marecette[0].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            <ul>
                                <% for (let b = 0; b < marecette[0].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[0].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                                
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[1].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[1].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette2">Voir la recette</button>
                        
                        <div id="recette2" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[1].ingredients.length ; i++){   %>      
                                    <li><%=marecette[1].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[1].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[1].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[2].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[2].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette3">Voir la recette</button>
                        
                        <div id="recette3" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[2].ingredients.length ; i++){   %>      
                                    <li><%=marecette[2].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[2].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[2].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[3].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[3].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette4">Voir la recette</button>
                        
                        <div id="recette4" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[3].ingredients.length ; i++){   %>      
                                    <li><%=marecette[3].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[3].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[3].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[4].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[4].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette5">Voir la recette</button>
                        
                        <div id="recette5" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[4].ingredients.length ; i++){   %>      
                                    <li><%=marecette[4].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[4].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[4].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[5].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[5].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette6">Voir la recette</button>
                        
                        <div id="recette6" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[5].ingredients.length ; i++){   %>      
                                    <li><%=marecette[5].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[5].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[5].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[6].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[6].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette7">Voir la recette</button>
                        
                        <div id="recette7" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[6].ingredients.length ; i++){   %>      
                                    <li><%=marecette[6].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[6].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[6].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img src="<%=marecette[7].photo%>" alt="" class="card-img-top" style="height : 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><%=marecette[7].nomRecette%></h5>
                        <button data-bs-toggle="collapse" class="btn btn-outline-primary btn-sm" data-bs-target="#recette8">Voir la recette</button>
                        
                        <div id="recette8" class="collapse"> 
                            
                            <h3 style="margin-top: 20px">Ingrédients</h3>
                            <ul>
                                <% for (let i = 0; i < marecette[7].ingredients.length ; i++){   %>      
                                    <li><%=marecette[7].ingredients[i].join(" ")%></li>
                               <% }  %>  
                            </ul>

                            <h3>Préparation</h3>
                            
                            <ul>
                                <% for (let b = 0; b < marecette[7].preparation.length ; b++){   %>      
                                    <li class="py-2"><%=marecette[7].preparation[b].join(" ")%></li>
                               <% }  %>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  


<%- include ('footer'); %>